@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Rubik:ital@1&display=swap');

body,html{
    margin: 0;
    padding: 0;
    background-color: #fdfdfb;
}
.mainBar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
.mainBar *{
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20px;
    transition: ease 1s;
    color: #6568bd;
}
.mainBar *:hover{
    transform: rotateX(360deg);
    color: #37a3e6;
}

/* Aquabar Menu */
.firstArticle{
        display: flex;

}
.bannerAdv{
    background: #6568bd;
    margin-top:120px;
    padding: 50px 10px 50px 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #fdfdfb;
    animation: scrollBackGround 0s linear infinite;
}
.aquaPresentation{
    padding-top: 230px;
    color: #6568bd;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
}
.burgerImg{
    z-index: 1;
    width: 100vh;
}

/* Menu complet */
.saladMenu, .sandMenu, .burgerMenu, .platMenu{
    width: 50%;
    height: 100vh;
    
}
.salade{
    font-family: 'Rubik', sans-serif;
    color:#6568bd;
    display: flex;
    width: 100vw;
    visibility: visible;

}
.tartine{
    font-family: 'Rubik', sans-serif;
    color:#6568bd;
    width: 100vw;
    display: none;
}
.burger{
    font-family: 'Rubik', sans-serif;
    color:#6568bd;
    display: none;
    width: 100vw;    
}
.plat{
    font-family: 'Rubik', sans-serif;
    color:#6568bd;
    display: none;
    width: 100vw;
}
.menuSlide{
    display: flex;
}
/* KEYFRAMES */ 

@keyframes scrollBackGround {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
        transform: translateX(100%);
      }
    100% {
        transform: translateX(0%);
      }
  }


  /* Keypress SELECTOR */


  /* scrolling syrup menu */
  .syrupMain{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    color:#37a3e6;
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
  }
  .monin{
    font-family: 'Rubik', sans-serif;
    color: #6568bd;
    width: 50vw;
    display: flex;
    align-items: center;
    font-size:35px

  }
    .syrupScrolling{
    animation: scrollSy 10s infinite linear;
    white-space: nowrap;
    text-align: center;
     font-family: 'Rubik', sans-serif;
    color: #6568bd;

    }
    @keyframes scrollSy{
        0% {
        transform:translateY(0);
        }
         50%{
        transform:translateY(-50%);
         }
         100%{
        transform: translateY(0);
         }
    }

/* Young Menu CSS */
.youngList{
    display: flex;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
    color: #6568bd;
}